
<%= render "partials/dashboard_header" %>


<div class="row expanded wrapper collapse">
    <div class="large-12 columns content-bg">

        <div class="row collapse">
            <div class="no-padding">
                <div class="large-2 medium-12 small-12 columns">
                    <%= render "partials/dashboard_nav_bar" %>
                </div>
            </div>
            <div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

                
                <div class="row">
                    <div class="large-10 columns">
                        <div class="page-name">
                            <h3 class="left">Mis Empleados</h3>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="large-2 columns">
                    	<div class="page-name">
							<!-- <a href="#" class="button success">Create Worker</a> -->
						</div>
                    </div>
                </div>
                <div id="inbox">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="custom-panel blue-bg">
                                <div class="custom-panel-heading" style="padding: 10px;">
                                    <div class="row">
                                        <div class="large-12 columns text-left">
                                            <div class="row">
	                                            <div class="small-12 medium-3 columns"><strong>Nombre</strong></div>
	                                            <div class="small-12 medium-2 columns"><strong>R.U.T</strong></div>
	                                            <div class="small-12 medium-3 columns"><strong>Rating</strong></div>
                                                <div class="small-12 medium-2 columns"><strong>Status</strong></div>
	                                            <div class="small-12 medium-2 columns"><strong>Calificar</strong></div>
		                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-panel-body">
                                    <table class="width-100 custom-table responsive text-left workers-list">
                                        <% @works.each do |work| %>
                                        <tr>
                                            <td width="20%"><a href="/companies/workers/<%= work.user.id %>"><%= "#{work.user.firstname} #{work.user.lastname}" %></a></td>
                                            <td width="20%"><%= work.user.dni %></td>
                                            <td width="20%">
                                            	<div class="rating-box">
                                            	    <ul class="c-rating not-hover">
                                            	        <%
                                                            @li = ''
                                                            if work.ratingusers.average(:value).blank?
                                                                @li = "<li class=\"c-rating__item\"></li>" * 5
                                                            else
                                                                @li = "<li class=\"c-rating__item is-active\"></li>" * work.ratingusers.average(:value).round
                                                                @li = @li + "<li class=\"c-rating__item\"></li>" * (5-work.ratingusers.average(:value).round)
                                                            end
                                                        %>
                                                        <%== @li %>
                                            	    </ul>

        
                                            	</div>
                                            </td>
                                            <td width="20%">
                                                
                                                    <% if work.end_date.blank? %>
                                                        <label class="success label">Open</label>
                                                    <% elsif work.end_date > Date.current() %>
                                                        <label class="alert label">Closed</label>
                                                    <% elsif work.comment_company.blank? %>
                                                        <label class="warning label">Pending Comments</label>
                                                    <% else %>
                                                        <label class="warning label">--</label>
                                                    <% end %>
                                            </td>
                                            <td width="20%">
                                                <% if work.ratingusers.average(:value).blank? %>
                                                    <a href="/companies/workers/<%= work.user.id %>/rating">Calificar</a>
                                                <% end %>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>