<%= render "partials/nav_bar" %>

<div class="row">
	<div class="small-12 columns">

<h2>Registro de Empresa</h2>
<%= form_tag home_create_user_companies_path do %>
	<%= field_set_tag 'Datos de la Empresa' do %>
		<%= label_tag 'name', 'Nombre' %>
		<%= text_field_tag "name", nil, placeholder: 'Ingrese nombre' %>
		<%= label_tag 'rut', 'Rut' %>
		<%= text_field_tag "rut", nil, placeholder: 'Ingrese rut empresa' %>
		<%= label_tag 'phone', 'Teléfono' %>
		<%= telephone_field_tag "phone", nil, placeholder: 'Ingrese teléfono' %>
		<%= label_tag 'address', 'Dirección' %>
		<%= text_field_tag "address", nil, placeholder: 'Ingrese dirección' %>
		<%= label_tag 'activity', 'Actividad' %>
		<%= text_field_tag "activity", nil, placeholder: 'Ingrese actividad' %>
	<% end %>
	<%= field_set_tag 'Datos del Usuario' do %>
		<%= label_tag 'email', 'Email' %>
		<%= email_field_tag "email", nil, placeholder: 'Ingrese email' %>
		<%= label_tag 'dni', 'Rut' %>
		<%= text_field_tag "dni", nil, placeholder: 'Ingrese su rut' %>
		<%= label_tag 'firstname', 'Nombre' %>
		<%= text_field_tag "firstname", nil, placeholder: 'Ingrese su nombre' %>
		<%= label_tag 'lastname', 'Apellido' %>
		<%= text_field_tag "lastname", nil, placeholder: 'Ingrese su apellido' %>
	<% end %>
	<%= submit_tag "Registrar Empresa", class: "button", data: { confirm: "Esta seguro de enviar los datos?", disable_with: "Espere por favor..." } %>
<% end %>

	</div>
</div>

<%= render "partials/footer" %>