
<%= render "partials/dashboard_header" %>


<div class="row expanded wrapper collapse">
    <div class="large-12 columns content-bg">

        <div class="row collapse">
            <div class="no-padding">
                <div class="large-2 medium-12 small-12 columns">
                    <%= render "partials/dashboard_nav_bar" %>
                </div>
            </div>
            <div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

                
                <div class="row">
                    <div class="large-10 columns">
                        <div class="page-name">
                            <h3 class="left">Workers list</h3>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="large-2 columns">
                    	<div class="page-name">
							<a href="#" class="button success">Create Worker</a>
						</div>
                    </div>
                </div>
                <div id="inbox">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="custom-panel blue-bg">
                                <div class="custom-panel-heading" style="padding: 10px;">
                                    <div class="row">
                                        <div class="large-12 columns text-left">
                                            <div class="row">
	                                            <div class="small-12 medium-3 columns"><strong>Full Name</strong></div>
	                                            <div class="small-12 medium-3 columns"><strong>R.U.T</strong></div>
	                                            <div class="small-12 medium-3 columns"><strong>Rating</strong></div>
	                                            <div class="small-12 medium-3 columns"><strong>Status</strong></div>
		                                    </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-panel-body">
                                    <table class="width-100 custom-table responsive text-left workers-list">
                                        <% @works.each do |work| %>
                                        <tr>
                                            <td width="25%"><a href="#"><%= "#{work.firstname} #{work.lastname}" %></a></td>
                                            <td width="25%"><%= work.dni %></td>
                                            <td width="25%">
                                            	<div class="rating-box">
                                            	    <ul class="c-rating not-hover">
                                            	        <li class="c-rating__item is-active" data-index="0"></li>
                                            	        <li class="c-rating__item is-active" data-index="1"></li>
                                            	        <li class="c-rating__item is-active" data-index="2"></li>
                                            	        <li class="c-rating__item is-active" data-index="3"></li>
                                            	        <li class="c-rating__item" data-index="4"><%= (work.promedio.blank?) ? '' : work.promedio.round %></li>
                                            	    </ul>
                                            	</div>
                                            </td>
                                            <td width="25%">
                                                
                                                    <% if work.end_date.blank? %>
                                                        <label class="success label">Open</label>
                                                    <% elsif work.end_date > Date.current() %>
                                                        <label class="alert label">Closed</label>
                                                    <% elsif work.comment_company.blank? %>
                                                        <label class="warning label">Pending Comments</label>
                                                    <% else %>
                                                        <label class="warning label">--</label>
                                                    <% end %>
                                            </td>
                                        </tr>
                                        <% end %>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </div>
    </div>
</div>