
<%= render "partials/dashboard_header" %>


<div class="row expanded wrapper collapse">
    <div class="large-12 columns content-bg">

        <div class="row collapse">
            <div class="no-padding">
                <div class="large-2 medium-12 small-12 columns">
                    <%= render "partials/dashboard_nav_bar" %>
                </div>
            </div>
            <div class="large-10 medium-12 small-12 columns light-grey-bg-pattern">

                
                <div class="row">
                    <div class="large-10 columns">
                        <div class="page-name">
                            <h3 class="left">Edit my profile</h3>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <div class="row">

                            <form action="<%= usercompany_path %>" method="post">
                                <input name="_method" type="hidden" value="put" />
                                <input type="hidden" name="id" value="<%= @user.id %>">
                                <%= hidden_field_tag :authenticity_token,form_authenticity_token %>

                                <div class="small-12 columns">
                                    <label for="email">Email: <%= @user.email %></label>
                                </div>

                                <div class="small-12 columns">
                                    <label for="dni">Rut:
                                    <input type="text" name="dni" id="dni" value="<%= @user.dni %>">
                                    </label>
                                </div>

                                <div class="small-12 columns">
                                    <label for="firstname">Firstname:
                                    <input type="text" name="firstname" id="firstname" value="<%= @user.firstname %>"></label>
                                </div>

                                <div class="small-12 columns">
                                    <label for="lastname">Lastname:
                                    <input type="text" name="lastname" id="lastname" value="<%= @user.lastname %>"></label>
                                </div>


                                <div class="small-12 columns">
                                    <label for="phone">Phone:
                                    <input type="text" name="phone" id="phone" value="<%= @user.phone %>"></label>
                                </div>

                                <div class="small-12 columns">
                                    <label for="birthday">Birthday:
                                    <input type="date" name="birthday" id="birthday" value="<%= @user.birthday %>"></label>
                                </div>

                                <div class="small-12 columns">
                                    <button class="button" type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>